name: Demonstration
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        env:
          VER: "2.17.1.1"
          CR_VER: "0.3.12.2a"
        run: |
          sudo apt install -y texlive texlive-xetex texlive-science texlive-lang-chinese librsvg2-bin
          mkdir -p ~/.local/share/fonts/
          cp fonts/* ~/.local/share/fonts/
          fc-cache
          wget https://github.com/jgm/pandoc/releases/download/${VER}/pandoc-${VER}-1-amd64.deb
          wget https://github.com/lierdakil/pandoc-crossref/releases/download/v${CR_VER}/pandoc-crossref-Linux.tar.xz
          tar Jxvf pandoc-crossref-Linux.tar.xz && rm -f pandoc-crossref-Linux.tar.xz
          sudo dpkg -i pandoc-${VER}-1-amd64.deb && rm -f pandoc-${VER}-1-amd64.deb
          sudo mv pandoc-crossref* /usr/bin
      - name: Compile
        run: ./compile.sh
      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: paper
          path: paper.pdf
          if-no-files-found: error
      - if: startsWith(github.ref, 'refs/tags/v')
        name: Upload to release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.PUBLISH_TOKEN }}
        with:
          files: paper.pdf
